.about {
  background: $color1;
  padding-top: 136px;

  &__left-block h4 {
    color: $color2;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.575px; /* 150.682% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
    margin: 0;
  }

  &__left-block h2 {
    color: $color5;
    font-family: Teko;
    font-size: 53px;
    font-weight: 400;
    line-height: 52.955px; /* 99.915% */
    text-transform: capitalize;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 12px;
  }

  &__left-block p {
    color: $color5;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px; /* 150% */
    margin: 0;
    margin-top: 16px;
  }

  &__right-block-item span {
    color: $color2;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.575px; /* 150.682% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
  }
  &__right-block-item h3 {
    color: $color5;
    font-family: Teko;
    font-size: 26px;
    font-weight: 400;
    line-height: 26.112px; /* 100.431% */
    text-transform: capitalize;
  }
  &__information-list {
    list-style-type: square;
    padding-bottom: 136px;
  }

  &__information-item {
    padding-left: 66px;
    font-size: 25px;
  }
  &__information-list {
    padding-right: 132px;
  }
  &__information-item::marker {
    color: $color2;
  }
  &__information-list span {
    color: $color5;
    text-align: center;
    font-family: Teko;
    font-size: 59px;
    font-weight: 700;
    line-height: 58.65px; /* 99.407% */
  }
  &__image-information-text-item {
    color: $color2;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.85px; /* 148.75% */
    letter-spacing: 2.975px;
    text-transform: uppercase;
  }
  &__information-list h4 {
    color: $color2;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.85px; /* 148.75% */
    letter-spacing: 2.975px;
    text-transform: uppercase;
  }
  &__text-about-image {
    color: $color1;
    font-size: 11px;
    font-weight: 400;
    line-height: 34px; /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
  }
  &__image-title {
    color: $color1;
    text-align: center;
    font-family: Teko;
    font-size: 26px;
    font-weight: 400;
    line-height: 26.112px; /* 100.431% */
    text-transform: capitalize;
  }
  &__box {
    background: $color7;
    width: 11px;
    height: 11px;
    display: block;
    margin: 0 auto;
  }
  &__blocks {
    display: flex;
    justify-content: center;
    gap: 64px;
  }
  &__right-block {
    margin-top: 36px;
  }
  &__right-block-item span:nth-child(2) {
    margin: 0 17px;
  }
  &__information-list {
    display: flex;
    justify-content: center;
    gap: 142.5px;
  }
  &__information {
    margin-top: 59px;
  }
  &__information-list h4 {
    margin: 0;
  }

  &__information-list li:nth-child(1) {
    list-style-type: none;
  }
  &__image-information-text-item {
    color: $color3;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.32px; /* 148.364% */
    letter-spacing: 2.72px;
    text-transform: uppercase;
    background: $color5;
    width: 103px;
    height: 34px;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  &__text-about-image {
    width: 206px;
    height: 102px;
    background: $color2;
    display: flex;
    justify-content: center;
  }
  &__image-title {
    width: 378px;
    height: 68px;
    background: $color8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image-information-list {
    display: flex;
    list-style-type: none;
    gap: 34px;
    justify-content: center;
  }
  &__image-information-item {
    position: relative;
  }
  .left-item {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
  }
  .left-item2 {
    position: absolute;
    right: 0;
    top: 158px;
    z-index: 1000;
  }
  .left-item3 {
    position: absolute;
    left: 0;
    top: 181px;
    z-index: 2000;
  }
  &__line {
    border-right: 1px solid $color3;
    height: 275px;
  }
  .left-line1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1500;
  }
  .left-line2 {
    position: absolute;
    top: 0;
    left: 103px;
  }
  .left-line3 {
    position: absolute;
    top: 0;
    left: 205px;
  }
  .left-line4 {
    position: absolute;
    top: 0;
    left: 312px;
    z-index: 1500;
  }
  .left-line5 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5000;
    height: 207px;
  }
  .center-item {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
  }
  .center-item2 {
    position: absolute;
    right: 0;
    top: 158px;
    z-index: 1000;
  }
  .center-item3 {
    position: absolute;
    left: 0;
    top: 181px;
    z-index: 2000;
  }
  .center-line1 {
    position: absolute;
    top: 0;
    z-index: 5000;
    height: 207px;
  }
  .center-line2 {
    position: absolute;
    top: 0;
    left: 103px;
  }
  .center-line3 {
    position: absolute;
    top: 0;
    left: 205px;
  }
  .center-line4 {
    position: absolute;
    top: 0;
    left: 312px;
    z-index: 500;
  }
  .center-line5 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5000;
    height: 207px;
  }
  .right-line1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1500;
  }
  .right-line2 {
    position: absolute;
    top: 0;
    left: 103px;
  }
  .right-line3 {
    position: absolute;
    top: 0;
    left: 205px;
  }
  .right-line4 {
    position: absolute;
    top: 0;
    left: 312px;
    z-index: 1500;
  }
  .right-line5 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5000;
    height: 207px;
  }
  .right-item {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
  }
  .right-item2 {
    position: absolute;
    right: 0;
    top: 158px;
    z-index: 1000;
  }
  .right-item3 {
    position: absolute;
    left: 0;
    top: 181px;
    z-index: 2000;
  }
  .container {
    position: relative;
  }
  .landslide {
    position: absolute;
    top: 478px;
  }
}
