.partners_list {
  list-style-type: square;
  display: flex;
  justify-content: center;
  padding: 70px 0 273px;
  gap: 113px;
  margin: 0 auto;
}
.partners_list li:nth-child(1) {
  list-style-type: none;
}
.partners_item {
  font-size: 30px;
  padding-left: 63px;
}
.partners_list li {
  color: #99823d;
}
.partners {
  background-color: #ebebeb;
}
