.promo_block h4 {
  color: #99823d;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.575px; /* 150.682% */
  letter-spacing: 2.763px;
  text-transform: uppercase;
  margin: 0;
}
.promo_block h1 {
  color: #141414;
  font-family: Teko;
  font-size: 67px;
  font-weight: 400;
  line-height: 67.031px; /* 100.046% */
  text-transform: capitalize;
  margin: 0;
}
.promo_block p {
  color: #141414;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px; /* 150% */
}
.promo_block-buttons button {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.85px; /* 148.75% */
  letter-spacing: 2.975px;
  text-transform: uppercase;
}
.promo_socials-list {
  list-style-type: none;
  padding-left: 10px;
}
.promo_socials-list a {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 68px; /* 566.667% */
  letter-spacing: 2.975px;
  text-transform: uppercase;
  text-decoration: none;
}
.promo_box {
  width: 489px;
  height: 329px;
  background: #99823d;
}
.promo {
  background: #141414;
  height: 660px;
}
.promo_block {
  width: 584px;
  height: 455px;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 68px;
  right: 68px;
  padding: 67px 0 0 68px;
}
.promo_box {
  background-color: #99823d;
  width: 489px;
  height: 329px;
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 0;
}
.promo .container {
  position: relative;
}
.promo_socials {
  display: flex;
  padding-left: 10px;
  gap: 37px;
  align-items: center;
  height: 69px;
  background-color: #ebebeb;
  margin: 0;
  margin-top: -3px;
}
.promo_socials {
  list-style-type: none;
}
.promo_socials a {
  text-decoration: none;
  color: #000;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 566.667% */
  letter-spacing: 2.975px;
  text-transform: uppercase;
}
.promo_block-left-button {
  width: 216px;
  height: 68px;
  background: #99823d;
  border: none;
}
.promo_block-right-button {
  width: 216px;
  height: 68px;
  background: #141414;
  border: none;
}
.promo_block-buttons {
  display: flex;
  gap: 17px;
}
